/* === 全体の基本設定 === */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 16px;
  text-align: center;
  background: #f9f9f9;
  font-size: 45px;
}

h2, h3 {
  margin: 16px 0 8px;
}

/* === 入力フォーム全般 === */
input[type="number"],
input[type="text"]{
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  border: none;
}

select {
  width: 100%;
  height: 100%;
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  border: none;
  background: #f9f9f9;
}
select option {
  font-size: 13px;
}

.loadZipName {
  text-align: left;
  width: 350px;
  margin: 5px;
  padding-left: 25px;
  border: 10px;
}
.loadZipName option {
  width: 150px;
  text-align: left;
  padding: 0;
  transform: translate3d(-80px,0,0);
  font-size: 13px;
}

/*デバッグボタンの非表示*/
.debug{
  
}

button,
.download-button {
  display: inline-block;
  font-size: 35px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 6px;
  border: 2px solid #8db6cf;
  color: #8db6cf;
  background: #ffffff;
  transition: 0.3s;
}


button:hover,
.download-button:hover {
  background: #8db6cf;
  color: #ffffff;
}
.saveButton {
  border: 2px solid #6c83c9;
  color: #ffffff;
  background: #8db6cf;
}
.saveButton:hover {
  background: #6c83c9;
  color: #ffffff;
}
.deleteDataButton {
  border: 2px solid #CC91A2;
  color: #CC91A2;
}
.deleteDataButton:hover {
  background: #CC91A2;
  color: #ffffff;
}

.download-button.text {
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

.file-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #CC91A2;
  color: #ffffff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

/* 本来のファイル選択を非表示 */
.file-btn input[type="file"] {
  display: none;
}

table {
  width: 90%;
  border-collapse: collapse;
  background: #ffffff;  
  margin: 0 auto; 
}

th {
  border: 1px solid #323232;
  color: #ffffff;
  font-size: 35px;
  background: #8db6cf;
}
td {
  border: 1px solid #323232;
  font-size: 35px;
  padding: 0;
  position: relative;
}
td input,
td select {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0 6px;
  box-sizing: border-box; 
  align-items: center; 
  line-height: 1;
}
/* レアリティ名編集input */
td input[type="text"][name="editRarityDisplayNameForm"] {
  text-align: left; 
  font-size: 35px;
  padding-left: 10px;
}
/* 確率編集input */
td input[type="number"][name="editRarityProbabilityForm"] {
  width: 70%;
  font-size: 35px;
  border: none;
  padding-left: 10px;
  margin: 5px;
}
td select {
  background-color: #ffffff;
}
.ProbabilityWrapper::after {
  content: "%";
  position: absolute;
  right: 10px;
  transform: translate3d(-145px,-48px,0px);
  font-size: 35px;
  color: #323232;
}
td .plus {
  position: absolute;
  width: 40px;         
  height: 40px;  
  right: 0;
  top: 50%;
  margin: 0%;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;
  transform: translate3d(-50px,-20px,0);
  margin: 0px;
  border: 1px solid #80b6cf; 
}
td .minus {
  position: absolute;
  padding: 0px;
  padding-bottom: 5px;
  width: 40px;         
  height: 40px;
  right: 0;
  top: 50%;
  margin: 5px;    
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;  
  transform: translate3d(0px,-25px,0);
  font-size: 45px;
  border: 1px solid #80b6cf; 
}

.lineupNum {
  display: block;   
  text-align: left; 
  margin-left: 50px; 
  box-sizing: border-box;
}
.lineupNum input {
  width: 100px;
  text-align: left; 
  font-size: 45px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.lineupNum .plus, .minus{
  width: 65px;
  height: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #8db6cf;
  background: #ffffff;
  cursor: pointer;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}
.lineupNum .minus {

  font-size: 45px;
  padding-bottom: 5px;
  margin: 5px;   
}
.lineupNum .plus:hover {
  background: #8db6cf;
  color: #ffffff;
}
#rarityNum  {
  width: 100px;
}

/* === テーブルが画面外にはみ出さないように === */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Tweet ボタン隠れててもズレ防止 */
#tweetButton[hidden] {
  display: none;
}




/*

@media (max-width: 480px) {
  body {
    padding: 12px;
    font-size: 18px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    max-width: none;
    font-size: 18px;
    padding: 12px;
  }

  button,
  .download-button {
    width: 100%;
    max-width: none;
    font-size: 20px;
    padding: 15px 0;
    margin: 10px 0;
  }

  table {
    font-size: 17px;
    min-width: 420px;
  }

  th,
  td {
    padding: 10px;
    font-size: 17px;
  }

  #rarityNamesEditor,
  #rarityTable {
    font-size: 18px;
  }
}*/

